---
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";

import Next from "@icons/Next.astro";
import React from "@icons/React.astro";
import Tailwind from "@icons/Tailwind.astro";
import Typescript from "@icons/Typescript.astro";
import Javascript from "@icons/Javascript.astro";
import Contact from "@components/Contact.astro";
---

<Layout title="About">
  <Section title="About">
    <div class="flex flex-col gap-10">
      <p>
        Hi, I&apos;m Brandon - a web developer based in the UK with over 1 years
        experience working on both frontend and backend development projects.
        I&apos;m passionate about creating modern and engaging web applications
        that provide great user experiences.
      </p>
      <p>
        I&apos;m actively seeking web developer roles and open to freelance
        projects. If you&apos;re interested in collaborating or have any
        questions, please don&apos;t hesitate to get in touch!
      </p>

      <div>
        <h3 class="mb-6 mt-4 text-neutral-400 text-base">
          I like to work with these technologies:
        </h3>
        <ul class="flex flex-col gap-4 md:flex-row md:gap-6">
          <li>
            <Javascript
              className="mr-2 inline w-4 h-4 fill-yellow-400 dark:fill-yellow-300"
            />
            JavaScript
          </li>
          <li>
            <Typescript
              className="mr-2 inline w-4 h-4 fill-blue-400 dark:fill-blue-300"
            />
            TypeScript
          </li>
          <li>
            <Tailwind
              className="mr-2 inline w-4 h-4 fill-sky-400 dark:fill-sky-300"
            />
            Tailwind
          </li>
          <li>
            <React
              className="mr-2 inline w-4 h-4 fill-sky-500 dark:fill-sky-400"
            />
            React
          </li>
          <li>
            <Next className="mr-2 inline w-4 h-4 dark:fill-white" />
            Next.js
          </li>
        </ul>
      </div>
    </div>
  </Section>

  <Contact />
</Layout>
