---
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});

const orderedProjects = [...featuredProjects].sort(
  (a, b) => a.data.order - b.data.order
);
---

<Layout title="Brandon Carlisle">
  <Header>
    A developer crafting performant{" "}
    <span
      class="border-b border-dashed border-current text-green-500 dark:text-sky-200 inline-block"
    >
      websites
    </span>{" "}
    with up-to-date user{" "}
    <span
      class="border-b border-dashed border-current text-blue-600/90 dark:text-green-200 inline-block"
    >
      interfaces
    </span>{" "}
    on the web.
  </Header>

  <p class="mt-10 mb-16">
    Hi, I&apos;m Brandon - a web developer based in the UK with over 1 years
    experience working on both frontend and backend development projects using
    TypeScript, React and Next.js.
  </p>

  <Section title="Featured work">
    {orderedProjects.map((project) => <ProjectCard project={project} />)}
  </Section>
</Layout>
