<div class="pb-12">
  <h2 class="mb-5 text-2xl font-bold leading-tight sm:text-3xl">Contact me</h2>
  <div class="flex flex-col gap-2">
    <p>
      You can email me at{" "}
      <a
        class="text-neutral-200 underline"
        href="mailto:contact@brandoncarlisle.co.uk"
        >contact@brandoncarlisle.co.uk</a
      >{" "}
       or you can view my{" "}
      <a
        class="text-neutral-200 underline"
        href="https://github.com/brandon-carlisle"
        target="_blank"
        rel="noreferrer"
      >
        Github</a
      >{" "}
       to reach out there.
    </p>
  </div>
</div>
