---
import ProjectCard from "./ProjectCard.astro";
import Section from "./Section.astro";

import { getCollection } from "astro:content";

const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.published && data.featured;
});

const orderedProjects = [...featuredProjects].sort(
  (a, b) => a.data.order - b.data.order,
);
---

<Section title="Featured work">
  <div class="flex flex-col gap-6 mb-8">
    {orderedProjects.map((project) => <ProjectCard project={project} />)}
  </div>

  <a href="/projects" class="group inline-flex items-center gap-2 text-lg hover:text-emerald-400 transition-colors" rel="prefetch"
    >View all projects
    <span
      class="group-hover:translate-x-1 inline-block transition-transform duration-300">&rarr;</span
    ></a
  >
</Section>
