<section class="my-24">
  <p class="text-7xl mb-10 leading-20">
    Full-stack web developer building high-performance 💻{" "}
    <span
      class="border-b border-dashed border-current text-sky-300 inline-block"
    >
      web apps
    </span>{" "}
    with modern, user-friendly👆{" "}
    <span
      class="border-b border-dashed border-current text-green-200 inline-block"
    >
      interfaces
    </span>{" "}
    for the web.
  </p>

  <div>
    <p class="mb-5 text-xl">
      Hey, I'm Brandon—a full-stack web developer based in the UK. I primarily
      work with TypeScript but also have experience with Go and other
      technologies.
    </p>

    <a href="/about" class="underline group" rel="prefetch"
      >Learn more <span
        class="group-hover:translate-x-1 inline-block transition-all"
        >&rarr;</span
      ></a
    >
  </div>
</section>
