<section class="my-24 animate-fade-in">
  <h1 class="text-5xl md:text-6xl mb-10 leading-tight font-semibold">
    Full-stack web developer building high-performance{" "}
    <span
      class="border-b-2 border-dashed border-emerald-400/60 text-emerald-400 inline-block hover:border-emerald-400 transition-colors tracking-normal duration-200"
    >
      websites
    </span>{" "}
    with modern, user-friendly{" "}
    <span
      class="border-b-2 border-dashed border-emerald-300/60 text-emerald-300 inline-block hover:border-emerald-300 transition-colors tracking-normal duration-200"
    >
      interfaces
    </span>{" "}
    for the web.
  </h1>

  <div class="animate-fade-in-delay">
    <p class="mb-5 text-xl text-neutral-300 leading-relaxed">
      Hey, I'm Brandon! I'm a full-stack web developer based in the UK. I
      primarily work with TypeScript writing great looking websites and web
      apps.
    </p>

    <a
      href="/about"
      class="group inline-flex items-center gap-2 text-lg hover:text-emerald-400 transition-colors"
      rel="prefetch"
      >Learn more about me
      <span
        class="group-hover:translate-x-1 inline-block transition-transform duration-300"
        >&rarr;</span
      ></a
    >
  </div>
</section>
