---
const items = [
  { name: "Home", pathname: "/" },
  { name: "About", pathname: "/about" },
  { name: "Projects", pathname: "/projects" },
];
---

<nav class="py-2 flex justify-between items-center">
  <h2 class="uppercase text-xl font-bold text-oxford-blue-100">
    <a href="/">Brandon Carlisle</a>
  </h2>

  <ul class="flex gap-4">
    {
      items.map((item) => (
        <li>
          <a
            class="hover:underline underline-offset-2 text-xl"
            href={item.pathname}
          >
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
