---
import { getCollection, CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects", ({ data }) => {
    return data.published;
  });

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title} description={project.data.description}>
  <div
    class="prose prose-img:rounded-xl prose-invert prose-headings:text-neutral-300 md:prose-lg sm:prose-headings:text-4xl"
  >
    <Content />
  </div>
</Layout>
