---
import ProjectCard from "@components/ProjectCard.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";

import { getCollection } from "astro:content";

const projects = await getCollection("projects", ({ data }) => {
  return data.published;
});

const orderedProjects = [...projects].sort(
  (a, b) => a.data.order - b.data.order
);
---

<Layout
  title="Projects"
  description="Explore the collection of projects by Brandon Carlisle. From frontend to backend, showcasing technologies like JavaScript, TypeScript, Tailwind, React, and Next.js."
>
  <Section title="All projects">
    <div class="flex flex-col gap-5">
      {orderedProjects.map((project) => <ProjectCard project={project} />)}
    </div>
  </Section>
</Layout>
